<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sportevent">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.ui.fragment.menu.ContactUs"
            tools:ignore="Instantiatable" />
        <activity android:name=".view.ui.fragment.menu.TermAndCondition"
            tools:ignore="Instantiatable" />
        <activity android:name=".view.ui.fragment.menu.AboutUs"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.ui.fragment.ClosestEvent"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.ui.fragment.SignUpFragment"
            tools:ignore="Instantiatable" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnR4ViXl40S9SvXdCt4g2lGg8jWr5ATA0" />
        <activity
            android:name=".view.ui.fragment.EventResultFragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.ui.fragment.EventStartFragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.ui.fragment.ParticipantListJoinedFragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.ui.fragment.LoginEmailFragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.ui.fragment.HeadFragment"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".view.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="io.sentry.dsn"
            android:value="https://a22caf113b674befa0cfc6583f54df0b@o508120.ingest.sentry.io/5600164" />


    </application>

</manifest>